
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #000;
    line-height: 1.6;
    background-color: #FFF;
    padding: 0 280px;
    gap: 30px;
}


/* Header */
header {
    width: 1440px; 
    height: 79px; 
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 161.09px;
    height: 79px;
    gap: 10px;
    background-color: #fff;
}

.logo img {
    width: 61.09px; 
    height: 19px; 
}

.menu {
    width: 344px; 
    height: 35px; 
    padding: 0 50px; 
    gap: 68px; 
    position: absolute; 
    top: 0; 
    right: 230px; 
}

nav {
    display: flex;
    gap: 68px; 
}

nav a {
    color: #000; 
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    text-decoration: none;
}

nav a:hover {
    color: #0065FC; 
    text-decoration: overline;
}



/* Info Section */
.info {
    width: 1340px; 
    padding: 30px 0; 
    display: flex;
    flex-direction: column;
    gap: 35px; 
    color: #000; 
}

.search h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    margin-bottom: 10px;
    color: #000;
}

.search p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    color: #000;
}

.input-group {
    display: flex;
    background-color: #fff; 
    width: 377px; 
    height: 49px; 
    border-radius: 15px; 
    border: 1px solid #F2F2F2; 
}

.pin {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 49px; 
    border-radius: 15px 0 0 15px; 
    background-color: #F2F2F2; 
    color: #000; 
    border-right: 1px solid #F2F2F2; 
}

.search-input {
    width: 195px;
    height: 49px;
    font-size: 18px; 
    text-align: center; 
    background: #fff; 
    border: 1px solid #F2F2F2; 
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 21.13px;
    color: #000;
    border-left: none; 
}

.search-input::placeholder {
    color: #000; 
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    font-weight: 700; 
    line-height: 21.13px; 
}

.search-button {
    background-color: #0065FC; 
    color: #FFF; 
    border: none;
    width: 132px; 
    height: 49px; 
    padding: 15px 16px; 
    cursor: pointer;
    border-radius: 0 15px 15px 0; 
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

/* Filters Section */
.filters {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
    align-items: center;
    width: 100%;
}

.filters p1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700; 
    line-height: 21.13px;
    text-align: center; 
    margin-right: 20px;
    color: #000; 
}

.filters a {
    color: #000; 
    font-weight: bold; 
    text-decoration: none; 
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    border: 2px solid #D9D9D9; 
}

.filters a:hover {
    background-color: #deebff; 
}

.filters a i {
    color: #0065FC;
    margin-right: 10px;
}


.info_bar {
    display: flex;
    align-items: center;
    width: 1340px; 
    height: 24px; 
    gap: 10px; 
}

.icon-image {
    width: 24px;
    height: 24px;
}

.info_bar p {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    color: #000;
}



/* Hebergements And Populaires */

.hebergements-and-populaires {
    display: flex;
    width: 1340px;
    height: 614px;
    gap: 40px; 
}

/* hebergement */

.hebergements{
    width: 871px;
    height: 614px;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.hebergement-title{
    width: 811px;
    height: 26px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.first-column{
    width: 811px;
    height: 207.25px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.second-column{
    width: 811px;
    height: 207.25px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.hebergement-card {
    width: 250.33px;
    height: 207.25px;
    padding: 0 0 15px 0;
    gap: 4px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.2s;
    text-align: left;
}

.hebergement-card img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
}

.frame {
    width: 250.33px;
    height: 64.25px;
    padding: 0 15px 0 15px;
    gap : 8px;
    display: flex;
    flex-direction: column;
}

.frame h3 {
    width: 220.33;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    text-align: left;
    color: #000;
}

.frame p {
    width: 220.33px;
    height: 16px;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
}

.card-rating {
    width: 81px;
    height: 13.25px;
    display: flex;
}

.card-rating i {
    color: #0065FC; 
}

.card-rating .neutral-star {
    color : #f2f2f2
}

.card-rating .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.Afficher{
    width: 811px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    color : #000
}

/* populaires */
.populaires {
    width: 429px; 
    height: 614px; 
    border-radius: 15px;
    padding: 30px; 
    gap: 30px; 
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    width: 369px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title i {
    color: #0065FC;
}

.populaires-cards{
    width: 369px;
    height: 498px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    width: 369px;
    height: 146px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
}

.card img {
    width: 123px;
    height: 146px;
    border-radius: 20px 0 0 20px;
    border: 5px 0 5px 5px solid #FFF;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Section Activites */
.activites {
    width: 1340px; 
    padding: 30px; 
    display: flex;
    flex-direction: column;
    gap: 30px; 
    background-color: #FFF; 
}

.activites h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px; 
    font-weight: 700; 
    line-height: 25.83px; 
    text-align: left; 
    color: #000; 
}

.activite-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 30px; 
    row-gap: 30px; 
    width: 100%;
    box-sizing: border-box;
}

.activite-card {
    background: #fff; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    text-align: left; 
    box-shadow: 0px 3px 15px 0px #0000001A; 
}

.activite-card img {
    width: 100%; 
    height: 380px; 
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.activite-card h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    font-weight: 700; 
    line-height: 18.78px; 
    color: #000; 
    padding: 20px 19px; 
    border-radius: 0 0 20px 20px; 
    width: 100%;
    box-sizing: border-box;
}


/* Footer */
footer {
    background-color: #F2F2F2;
    padding: 40px 0;
    width: 1340px; 
    height: 136px; 

}

.footer-container {
    width: 1340px; 
    height: 136px; 
    display: flex;
}

.footer-section {
    width: 446.67px; 
    height: 163px; 
    padding: 20px 0 0 23.335px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    text-align: left;
    background-color: #F2F2F2;
}

.footer-section h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    font-weight: 700; 
    line-height: 21.13px; 
    text-align: left;
    margin-bottom: 10px;
    color: #000; 
    margin-left: 23.335px; 
}

.footer-section ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #000; 
    margin-left: 23.335px; 
}

.footer-section ul li a {
    color: #000; 
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

    @media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px)  */
@media (max-width: 767.98px) {
    
}