/****** General ***********/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 230px;
    padding-right: 230px;
    gap: 30px;
}

header { 
    max-width: 1440px;
    max-height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 161.09px;
    padding: 30px 50px;
}

.logo img {
    max-width: 61.09px;
    max-height: 19px;
    object-fit: contain;
}


.button {
    width: 24%;
    display: flex;
    justify-content: space-evenly;
}


.button h6 {
    margin: 0px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    border-top: 2px solid #FFF;
}

.button h6:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color); 
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 35px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* info groupe */
.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    gap: 35px;

}

.headline {
    display: flex;
    flex-direction: column;
    max-height: 53px;
    justify-content: space-between;
    gap: 8px;
}

.headline h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #000;
}

.headline p {
    font-weight: 400;
    line-height: 18.78px;
    font-size: 16px;
    color: #000;
}

.search-bar {
    width: 377px;
    height: 49px;
    background-color: #FFF;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.pin {
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.pin i {
    width: 14px;
    height: 18px;
    color: #000; 
    object-fit: cover;
}


.search-input {
    width: 147px;
    height: 21px;
    border: none;
    outline: none;
    margin: auto; 
}

.search-input::placeholder{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.search-bar button {
    width: 132px;
    background-color: #0065FC; 
    border :none;
    color: #FFF; 
    padding: 15px 16px; 
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}


.filters {
    display: flex;
    text-align: left;
    gap: 15px;
}

.filters p1 {
    text-align: left;
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 700;
    color: #000;
    align-self: center;
}

.filters a {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    border-radius: 25px;
    background-color: #FFF;
    border: 2px solid #D9D9D9;

}

.filters i {
    color: #0065FC;
    align-self: center;
}

.filters h2 {
    color: #000;
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
}

.filters a:hover {
    background-color: var(--filter-bg-color);
}

.info_bar {
    display: flex;
    gap: 10px;
}

.info_bar .icon-image {
    width: 24px;
    height: 24px;
}

.info_bar p {
    font-size: 14px;
    color: #000;
    align-self: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: space-between;
}

.hebergements h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    justify-content: flex-start;

}

.first-row,.second-row {
    width: 811px;
    height: 207.25px;
    display: flex;
    justify-content: space-between;
}

.hebergements .card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 15px 0;
}

.hebergements .card img {
    width: 100% - 5;
    height: 114px;  /*-10 px pour la bordure */
    border-radius: 20px 20px 0 0;
    border: 5px solid #fff;

}

.hebergements .card-content {
    height: 64.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 0 15px;
}

.afficher .link {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}



.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* activités */

.activites {
    max-height: 559px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.activites h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

.activite-grid {
    max-height: 439px;
    display: flex;
    gap: 30px;
}

.activite-card {
    width: 23%;
    max-height: 439px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activite-card img {
    width: 100%;
    height: 86%;
    border-radius: 20px 20px 0 0;
}


.frame {
    padding: 20px 19px;
    height: 14%;
}

/* footer */

footer {
    display: flex;
    height: 163px;
    background-color: #F2F2F2;
}

.footer-section {
    width : 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    justify-content: space-evenly;
}

.footer-section h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.footer-section h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #000;

}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}