/****** General ***********/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

header { 
    max-height: 79px;
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 61.09px;
    padding: 30px 0;
}


.button {
    width: 100%;
    max-width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.button h6 {
    margin: 0px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    border-top: 2px solid #FFF;
}

.button h6:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color); 
}


/* info groupe */
.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    gap: 35px;

}

.headline {
    display: flex;
    flex-direction: column;
    max-height: 53px;
    justify-content: space-between;
    gap: 8px;
}

.headline h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #000;
}

.headline p {
    font-weight: 400;
    line-height: 18.78px;
    font-size: 16px;
    color: #000;
}

.search-bar {
    width: 377px;
    height: 49px;
    background-color: #FFF;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.pin {
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.pin i {
    width: 14px;
    height: 18px;
    color: #000; 
    object-fit: cover;
}


.search-input {
    width: 147px;
    height: 21px;
    border: none;
    outline: none;
    margin: auto; 
}

.search-input::placeholder{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.search-bar button {
    background-color: #0065FC; 
    color: #FFF; 
    padding: 15px 16px; 
    border :none;
}

.info .search-button-glass {
    display: none;
}

.search-bar .search-button-text {
    width: 132px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.filters-section {
    display: flex;
    text-align: left;
    gap: 15px;
}

.filters-section .filters {
    display: flex;
    gap: 15px;
    text-align: left;
}

.filters-section p1 {
    text-align: left;
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 700;
    color: #000;
    align-self: center;
}

.filters a {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    border-radius: 25px;
    background-color: #FFF;
    border: 2px solid #D9D9D9;

}

.filters i {
    color: #0065FC;
    align-self: center;
}

.filters h2 {
    color: #000;
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
}

.filters a:hover {
    background-color: var(--filter-bg-color);
}

.info_bar {
    display: flex;
    gap: 10px;
}

.info_bar .icon-image {
    width: 24px;
    height: 24px;
    align-self: center;
}

.info_bar p {
    font-size: 16px;
    color: #000;
    align-self: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.card-rating {
    height: 13px;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    max-height: 614px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.hebergements .card{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-cards img {
    height: 119px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.afficher .link {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    padding-bottom: 5px;
}

/* activites */

.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

}

.activites-panel {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.activites .card {
    width : 23%;
    border-radius: 20px;
    padding: 0;
}

.activites img {
    width: 100%;
    height: 86%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites .card-title {
    padding: 20px 19px;
    border-radius: 0 0 20px 20px;
}

/* footer */
footer {
    display: flex;
    height: 163px;
    background-color: #F2F2F2;
}

.footer-section {
    width : 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    justify-content: space-evenly;
}

.footer-section h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.footer-section h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #000;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0;
    }

    .button {
        padding: 0 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        max-height: 913.5px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* activites */

    .activites {
        max-height: 390px;
    }

    .activites .card {
        max-height: 270px;

    }

    .activites img {
        height: 74%;
    }

    .activites .card-title {
        padding: 10px 5px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        height: 4000px;
        padding: 0;
    }

    .main-container {
        padding: 0;
    }

    /* header */
    header {
        flex-direction: column;
        align-items: center;
        max-height: 115px;
    }

    header .button {
        width: 100%;
        max-width: none;
    }

    header .button h6 {
        width: 100%;
        padding: 0px;
        text-align: center;
        padding-top: 0;
        padding-bottom: 16px;
    }

    .button a {
        width: 100%;
    }

    .button h6:hover{
        border-bottom: 2px solid var(--main-color); 
        border-top: none;
    }

    /* info group */

    .search-bar {
        width: 320px;
        height: 49px;
    }

    .filters-section {
        flex-direction: column;
        gap: 20px;
    }

    .filters a {
        padding: 5px 0;
        padding-left: 15px;
        display: flex;
        text-align: left;

    }

    .filters-section p1 {
        align-self: self-start;
    }

    .filters-section .filters{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .search-bar .search-button-text {
        display: none;
    }

    .info .search-button-glass {
        display: flex;
        width: 49px;
        height: 49px;
        border-radius: 15px;
        padding: 0;
        align-items: center;
        justify-content: space-around;
    }

    .info .search-button-glass i {
        color: #FFF;
    }


    .info_bar {
        width: 335px;
        height: 38px;
    }

    .info_bar p{
        width: 301px;
        height: 100%;
    }

    
    /* hebergment and populaires  */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 2020px;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        background-color: none;
        border-radius: 0;
        box-sizing: border-box;
        padding: 20px;
    }

    .hebergements {
        gap: 15px;
        background-color: #FFF !important;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 15px;
    }

    .populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
        order: -1;
        margin: 0;
        background-color: #f2f2f2 !important;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* activites */

    .activites {
        max-height: 965px;
    }

    .activites-panel {
        flex-direction: column;
        max-height: 800px;
        gap: 10px;
    }

    .activites .card {
        width: 100%;
        height: 25%;

    }

    .activites img {
        height: 80%;
    }

    /* footer */
    footer {
        flex-direction: column;
        height: 461px;
        padding: 30px;
        gap: 50px
        
        
    }

    .footer-section {
        width: 100%;
        height: 33%;
        padding: 0;
    }

}